/* Định dạng bảng */
.customer {
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
    padding-top: 1em;
    box-shadow: 4px 2px 8px rgba(0,0,0,.05);
    border-radius: 8px;
  }
.styled-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  