main {
  min-height: 60vh;
}
body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}
main {
  background-color: #fafafa;
}
.container {
  margin: 3em auto;
}
.logo {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 1.25px;
  color: #4c4c4c;
  text-decoration: none;
}
.msg-div {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 1em;
}
.msg-text {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
}
.success {
  background-color: #D4EDDA;
}
.success .success-text {
  color:#155724;
}
.warning {
  background-color: #F8D7DA;
}
.warning .warning-text {
  color:#721c24;
}
.line-div {
  width: 100%;
  height: 2px;
  background-color: #f5f5f5;
}
.vertical-line {
  height: 100%;
  width: 2px;
  background-color: #f5f5f5;
}

/* Dropdown */
.dropdown {
  position: relative;
}
.dropdown .submenu-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;

  visibility: hidden;
  z-index: 0;
  transition: visibility .2s linear, z-index .2s linear;
}
.dropdown:hover > .submenu-dropdown {
  visibility: visible;
  z-index: 99;
}
.dropdown .submenu-dropdown a {
  text-decoration: none;
  color: #000000;
  padding-top: .5em;
  padding-bottom: .5em;
}
.dropdown .submenu-dropdown a:hover {
  text-decoration: underline;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
textarea {
  width: 100%;
  height: 80px;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sending-message-spinner {
  position: fixed;
  text-align: center;
  z-index: 20;
  display: none;
  width: 64px;
  height: 64px;
  border: 8px solid #B0B0B0;
  border-radius: 50%;
  border-top-color: #000;
  animation: loading .75s linear infinite;
}

.spinner-border {
  z-index: 9999;
}