.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* căn giữa theo chiều dọc */
  justify-content: center;
  /* căn giữa theo chiều ngang */
  text-align: center;
  /* căn giữa văn bản */
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-price {
  display: flex;
  justify-content: center;
  /* căn giữa theo chiều ngang */
  align-items: center;
  /* căn giữa theo chiều dọc */
}

.price {
  margin: 0 10px;
  /* Khoảng cách giữa các phần tử */
  text-align: center;
  /* căn giữa văn bản */
}

.price p {
  margin: 0;
  /* Xóa margin mặc định của các thẻ p */
}

.product-details {
  margin-top: 20px;
  width: 80%;
  /* Điều chỉnh theo nhu cầu */
}

.price {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: start
}


.button-cart {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  /* Màu nền */
  color: white;
  /* Màu chữ */
  text-align: center;
  padding: 10px 20px;
  /* Kích thước nút */
  text-decoration: none;
  /* Loại bỏ gạch chân */
  border-radius: 5px;
  /* Bo tròn viền */
  transition: background-color 0.3s ease;
  /* Hiệu ứng khi hover */
}

.button-cart:hover {
  color: white;
  text-decoration: none;
}

.button-container a {
  display: inline-block; /* Hiển thị cùng một hàng */
  margin-right: 10px; /* Khoảng cách giữa hai nút */
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.sumary-text{
  text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box;
}