<!-- Button to trigger modal -->
<button data-bs-toggle="modal" data-bs-target="#addCategoriesModal" class="btn btn-lg btn-outline-secondary"
    type="button">
    <span style="font-size: medium;">Tạo Mới</span>
</button>


<table id="tableCategories" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Creation By</th>
            <th>Creation Time</th>
            <th>Last Modified By</th>
            <th>Last Modified Time</th>
            <th>Actions</th> <!-- Add a column for CRUD actions -->
        </tr>
    </thead>
    <tbody>
        <!-- Table body content will be dynamically generated -->
    </tbody>
</table>


<!-- Modal for adding categories -->
<div class="modal fade" id="addCategoriesModal" tabindex="-1" aria-labelledby="addCategoriesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoriesModalLabel">Tạo Mới Danh Mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form for adding new category -->
                <form id="addCategoryForm">
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Tên Danh Mục:</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                    </div>
                    <div class="mb-3">
                        <label for="categoryImage" class="form-label">Ảnh Danh Mục:</label>
                        <input type="file" class="form-control" id="categoryImage" name="categoryImage" accept="image/*"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo Mới</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tableCategories').DataTable({
            ajax: {
                url: '/admin/categories',
                type: 'GET',
                dataSrc: 'data' // Specify the key containing the data array
            },
            columns: [
                { data: null }, // Index column
                {{!-- { data: 'id' }, // ID column --}}
                { data: 'name' }, // Name column
                {
                    data: 'image', // Image column
                    render: function (data, type, row) {
                        return `<img src="${data}" alt="Category Image" style="max-width: 100px; max-height: 100px;">`;
                    }
                },
                { data: 'creation_by' }, // Creation By column
                { data: 'creation_time' }, // Creation Time column
                { data: 'last_modified_by' }, // Last Modified By column
                { data: 'last_modified_time' }, // Last Modified Time column
                {
                    data: null,
                    render: function (data, type, row) {
                        // Render CRUD action buttons
                        return `
                        <div class='container'>
                            <button  class="btn btn-lg btn-outline-secondary" style="margin-bottom:10px"  type="button" onclick="viewCategory('${data.id}')"><i class="fa fa-info-circle" aria-hidden="true"></i></i></button>
                            <button class="btn btn-lg btn-outline-secondary" style="margin-bottom:10px"  type="button" onclick="editCategory('${data.id}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></i></button>
                            <button  class="btn btn-lg btn-outline-secondary" type="button" onclick="deleteCategory('${data.id}')"><i class="fa fa-trash"></i></button>
                        </div>`;
                    }
                }
            ],
            createdRow: function (row, data, index) {
                // Add index to the first column
                $('td', row).eq(0).html(index + 1);
            },
            processing: true,
            serverSide: true,
            paging: true, // Enable pagination
            pageLength: 10, // Set number of rows per page
            lengthMenu: [10, 25, 50, 100], // Customize length menu options
            language: {
                paginate: {
                    first: 'First',
                    last: 'Last',
                    next: '&rarr;',
                    previous: '&larr;'
                }
            },
            error: function (xhr, error, thrown) {
                console.error('DataTables error:', error, thrown);
            }
        });

        // Function to handle view category
        function viewCategory(id) {
            // Implement your logic to view category
            console.log('View category with ID:', id);
        }

        // Function to handle edit category
        function editCategory(id) {
            // Implement your logic to edit category
            console.log('Edit category with ID:', id);
        }

        // Function to handle delete category
        function deleteCategory(id) {
            // Implement your logic to delete category
            console.log('Delete category with ID:', id);
        }
    });


    // Handle form submission for adding new category
    $('#addCategoryForm').submit(function (event) {
        event.preventDefault(); // Prevent default form submission
 
        // Get form data
        var formData = new FormData(this);

        // Get the selected image file
        var fileInput = $('#categoryImage')[0].files[0];

        // Use FileReader to read the file and convert it to base64
        var reader = new FileReader();
        reader.onloadend = function () {
            // Set the base64 string as the value for 'categoryImage' in formData
            formData.set('categoryImage', reader.result);

            // Send AJAX request to create new category
            {{!-- $.ajax({
                url: '/admin/categories',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    // Handle success response, e.g., close modal, refresh table, etc.
                    console.log('New category created successfully:', response);
                    $('#addCategoriesModal').modal('hide'); // Close modal
                    $('#tableCategories').DataTable().ajax.reload(); // Reload DataTable
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error('Error creating new category:', error);
                    // Display error message to the user
                }
            });
        }; --}}
        // Read the file as a data URL (base64)
        reader.readAsDataURL(fileInput);

    });
    $.fn.dataTable.ext.errMode = 'throw';
</script>