<table id="tableModels" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Tên</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table body content will be dynamically generated -->
    </tbody>
</table>





<script>

    $(document).ready(function () {
        $('#tableModels').DataTable({
            ajax: {
                url: '/admin/models',
                type: 'POST',
                dataSrc: 'data.data' // Specify the key containing the data array
            },
            columns: [
                { data: null }, // Index column

                { data: 'name' },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (data.name === 'KNN Model') {
                            return `
                        <div class='container'>
                            <button data-bs-toggle="modal" data-bs-target="#exampleModalKNN" class="btn btn-lg btn-outline-secondary" style="margin-bottom:10px" type="button"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>
                        </div>
                        `;
                        } else {
                            return `
                        <div class='container'>
                        <button id="BtnRnn"  data-name="${data.name}"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-lg btn-outline-secondary" style="margin-bottom:10px" type="button"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>
                    </div>
                        `;
                        }
                    }
                    // Render CRUD action buttons


                }
            ],
            createdRow: function (row, data, index) {
                // Add index to the first column
                $('td', row).eq(0).html(index + 1);
                $('td', row).eq(0).html(index + 1);
                // Check if data is exist, if not, hide the row
                if (data.isExist !== 1) {
                    $(row).hide();
                }
            },
            processing: true,
            serverSide: true,
            paging: false, // Enable pagination
            pageLength: 0, // Set number of rows per page
            lengthMenu: false, // Customize length menu options
            info: false,
            searching: false,
            error: function (xhr, error, thrown) {
                console.error('DataTables error:', error, thrown);
            }
        });
    });
    $('#tableModels tbody').on('click', 'tr', function () {
        // Get the data associated with the clicked row
        var data = table.row(this).data();
        $.toast({
            heading: 'Success',
            text: 'And these were just the basic demos! Scroll down to check further details on how to customize the output.',
            showHideTransition: 'slide',
            icon: 'success'
        })

        // Display the details (you can use a modal or any other UI component)
        // Example: Show details in console
        console.log(data);
        // You can also display details in a modal or any other UI component
        // Example: Show details in a modal
        // $('#detailModal').modal('show');
    });


    $('#trainBtn').click(function () {

        var maxWords = $('#maxWords').val();
        var maxLen = $('#maxLen').val();
        var testSize = $('#testSize').val();
        var randomState = $('#randomState').val();
        var epochs = $('#epochs').val();
        var batchSize = $('#batchSize').val();
        var validationSplit = $('#validationSplit').val();
        var outputDim = $('#outputDim').val();
        var unitRNN = $('#unitRNN').val();
        var unitDense = $('#unitDense').val();

        // Make an AJAX request to send the data to the server
        // Make an AJAX request to send the data to the server
        $.ajax({
            url: '/trainModel',
            method: 'POST',
            data: {
                maxWords: maxWords,
                maxLen: maxLen,
                testSize: testSize,
                randomState: randomState,
                epochs: epochs,
                batchSize: batchSize,
                validationSplit: validationSplit,
                outputDim: outputDim,
                unitRNN: unitRNN,
                unitDense: unitDense
            },
            success: function (response) {
                console.log('Training success:', response);
                // Handle success response here
            },
            error: function (xhr, status, error) {
                console.error('Training error:', error);
                // Handle error here
            }
        });

    });


    $(document).on('click', '.trainBtnKNN', function () {
        $('.modal-backdrop').modal('show');

        var kCluster = $('#kValue').val();
        startSpinnerKNN()
        // Make an AJAX request to send the data to the server
        $.ajax({
            url: '/admin/trainKNNModel',
            method: 'POST',
            data: {
                kCluster: kCluster
            },
            success: function (response) {
                stopSpinnerKNN()
                $.toast({
                    heading: 'Thành Công',
                    text: `${response.data.data.message}`,
                    showHideTransition: 'slide',
                    icon: 'success',
                    hideAfter: 50000


                });
                console.log('Training success:', response);
                $('#exampleModalKNN').modal('hide');
                $('.modal-backdrop').hide();
                // Handle success response here
            },
            error: function (xhr, status, error) {
                console.error('Training error:', error);
                // Handle error here
            }
        });

    });
    $(document).on('click', '.trainBtnRNN', function () {
        $('.modal-backdrop').show();


        const element = document.getElementById("BtnRnn");
        const nameModel = element.getAttribute("data-name");



        var maxWords = parseInt(document.getElementById('maxWords').value);
        var maxLen = parseInt(document.getElementById('maxLen').value);
        var testSize = parseFloat(document.getElementById('testSize').value);
        var randomState = parseInt(document.getElementById('randomState').value);
        var epochs = parseInt(document.getElementById('epochs').value);
        var batchSize = parseInt(document.getElementById('batchSize').value);
        var validationSplit = parseInt(document.getElementById('validationSplit').value);
        var outputDim = parseInt(document.getElementById('outputDim').value);
        var unitRNN = parseInt(document.getElementById('unitRNN').value);
        var unitDense = parseInt(document.getElementById('unitDense').value);
        startSpinner();

        if (nameModel === 'SQLi RNN Model') {

            $.ajax({
                url: '/admin/trainSQLiRNNModel',
                method: 'POST',
                data: {
                    max_words: maxWords,
                    max_len: maxLen,
                    test_size: testSize,
                    random_state: randomState,
                    epochs: epochs,
                    batch_size: batchSize,
                    validation_split: validationSplit,
                    output_dim: outputDim,
                    unitRNN: unitRNN,
                    unitDense: unitDense
                },
                success: function (response) {

                    stopSpinner(); // Stop spinner on success

                    $.toast({
                        heading: 'Thành Công',
                        text: `Training model thành công! Độ chính xác: ${response.data.accuracy}`,
                        showHideTransition: 'slide',
                        icon: 'success',
                        hideAfter: 50000
                    });
                    console.log('Training success:', response);
                    $('#exampleModal').modal('hide');
                    $('.modal-backdrop').hide();
                },
                error: function (xhr, status, error) {
                    console.error('Training error:', error);
                    stopSpinner(); // Stop spinner on error
                    // Handle error here
                }
            });
        }
        else {
            $.ajax({
                url: '/admin/trainXssRNNModel',
                method: 'POST',
                data: {
                    max_words: maxWords,
                    max_len: maxLen,
                    test_size: testSize,
                    random_state: randomState,
                    epochs: epochs,
                    batch_size: batchSize,
                    validation_split: validationSplit,
                    output_dim: outputDim,
                    unitRNN: unitRNN,
                    unitDense: unitDense
                },
                success: function (response) {

                    stopSpinner(); // Stop spinner on success

                    $.toast({
                        heading: 'Thành Công',
                        text: `Training model thành công! Độ chính xác: ${response.data.accuracy}`,
                        showHideTransition: 'slide',
                        icon: 'success',
                        hideAfter: 50000
                    });
                    console.log('Training success:', response);
                    $('#exampleModal').modal('hide');
                    $('.modal-backdrop').hide();
                },
                error: function (xhr, status, error) {
                    console.error('Training error:', error);
                    stopSpinner(); // Stop spinner on error
                    // Handle error here
                }
            });
        }


    });

    $.fn.dataTable.ext.errMode = 'throw';
    $("#trainBtnKNN").click(function () {
        $("#overlay").show();
        $('.sending-message-spinner').show();
        setTimeout(function () {
            $("#exampleModal").modal("hide");
        }, 2000);
    });
    function startSpinner() {
        // Start spinner
        $(".xBtnRNNClose").prop("disabled", true);

        $(".trainBtnRNNClose").prop("disabled", true);
        $(".trainBtnRNN").prop("disabled", true);

        $(".trainBtnRNN").html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Trainning...`
        );
    }

    function stopSpinner() {
        // Stop spinner
        $(".xBtnRNNClose").prop("disabled", false);

        $(".trainBtnRNNClose").prop("disabled", false);
        $(".trainBtnRNN").prop("disabled", false);
        $(".trainBtnRNN").html('Train');
    }

    function startSpinnerKNN() {
        // your code to make the spinner start
        $(".xBtnKNNClose").prop("disabled", true);

        $(".trainBtnKNNClose").prop("disabled", true);
        $("#trainBtnKNN").prop("disabled", true);
        $("#trainBtnKNN").html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Trainning...`
        );
    }

    function stopSpinnerKNN() {
        // you code to make the spinner stop
        // (i.e., return the button to its original state)
        $(".xBtnKNNClose").prop("disabled", false);

        $(".trainBtnKNNClose").prop("disabled", false);
        $("#trainBtnKNN").prop("disabled", false);
        $("#trainBtnKNN").html('Submit');
    }
</script>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông Số</h5>
                <button type="button" class="btn-close xBtnRNNClose" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="maxWords" class="form-label">Max Words (Tối đa từ):</label>
                    <input type="text" class="form-control" id="maxWords" value="5000">
                </div>
                <div class="mb-3">
                    <label for="maxLen" class="form-label">Max Length (Độ dài tối đa):</label>
                    <input type="text" class="form-control" id="maxLen" value="100">
                </div>
                <div class="mb-3">
                    <label for="testSize" class="form-label">Test Size (Kích thước kiểm tra):</label>
                    <input type="text" class="form-control" id="testSize" value="0.2">
                </div>
                <div class="mb-3">
                    <label for="randomState" class="form-label">Random State (Trạng thái ngẫu nhiên):</label>
                    <input type="text" class="form-control" id="randomState" value="42">
                </div>
                <div class="mb-3">
                    <label for="epochs" class="form-label">Epochs (Số lần lặp):</label>
                    <input type="text" class="form-control" id="epochs" value="5">
                </div>
                <div class="mb-3">
                    <label for="batchSize" class="form-label">Batch Size (Kích thước lô):</label>
                    <input type="text" class="form-control" id="batchSize" value="32">
                </div>
                <div class="mb-3">
                    <label for="validationSplit" class="form-label">Validation Split (Phân chia kiểm tra):</label>
                    <input type="text" class="form-control" id="validationSplit" value="0.2">
                </div>
                <div class="mb-3">
                    <label for="outputDim" class="form-label">Output Dim (Kích thước đầu ra):</label>
                    <input type="text" class="form-control" id="outputDim" value="128">
                </div>
                <div class="mb-3">
                    <label for="unitRNN" class="form-label">Unit RNN (Đơn vị RNN):</label>
                    <input type="text" class="form-control" id="unitRNN" value="64">
                </div>
                <div class="mb-3">
                    <label for="unitDense" class="form-label">Unit Dense (Đơn vị Dense):</label>
                    <input type="text" class="form-control" id="unitDense" value="1">
                </div>
                <!-- Add more fields as needed -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary trainBtnRNNClose" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary trainBtnRNN">Train</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalKNN" tabindex="-1" aria-labelledby="exampleModalLabelKNN" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalKNN">Thông Số</h5>
                <button type="button" class="btn-close xBtnKNNClose" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add more fields as needed -->
                <div class="mb-3">
                    <label for="kValue" class="form-label">Giá trị k:</label>
                    <input type="text" class="form-control" id="kValue" value="5">
                </div>
                <!-- Add more fields as needed -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary trainBtnKNNClose" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary trainBtnKNN">Train</button>
            </div>
        </div>
    </div>
</div>



<script src="/js/model.js"></script>