{{!-- <h1>Models DASHBoard PAGE</h1>
<div>
    <table id="cart-table" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Độ Chính Xác</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{!-- {{#each products}} --}}
            <tr>
                {{!-- <td>{{ @index }}</td> <!-- Index number --> --}}
                <td>1</td>
                <td>KNN</td>
                <td>
                    <p id="price" class="price-value" data-price="{{ this.product.[0].price }}">{{
                        this.product.[0].price }}</p>
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                                class="btn btn-secondary" style="margin-right: 10%;">
                                Train

                            </button>



                        </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>SQLI RNN</td>
                <td>
                    <p id="price" class="price-value" data-price="{{ this.product.[0].price }}">{{
                        this.product.[0].price }}</p>
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                                class="btn btn-secondary" style="margin-right: 10%;">
                                Train

                            </button>



                        </div>
                </td>

            </tr>

            <tr>
                <td>3</td>
                <td>XSS RNN</td>
                <td>
                    <p id="price" class="price-value" data-price="{{ this.product.[0].price }}">{{
                        this.product.[0].price }}</p>
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                                class="btn btn-secondary" style="margin-right: 10%;">
                                Train

                            </button>



                        </div>
                </td>

            </tr>
            {{!-- {{/each}} --}}
        </tbody>
    </table>
    <div>

    </div>
</div> --}}



<table id="tableModels" class="table table-striped" style="width:100%">
    <thead>
        <tr>
             <th>#</th>
                <th>Tên</th>
                <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table body content will be dynamically generated -->
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông Số</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add more fields as needed -->
                <div class="mb-3">
                    <label for="maxWords" class="form-label">Max Words:</label>
                    <input type="text" class="form-control" id="maxWords" value="5000">
                </div>
                <div class="mb-3">
                    <label for="maxLen" class="form-label">Max Length:</label>
                    <input type="text" class="form-control" id="maxLen" value="100">
                </div>
                <div class="mb-3">
                    <label for="testSize" class="form-label">Test Size:</label>
                    <input type="text" class="form-control" id="testSize" value="0.2">
                </div>
                <div class="mb-3">
                    <label for="randomState" class="form-label">Random State:</label>
                    <input type="text" class="form-control" id="randomState" value="42">
                </div>
                <div class="mb-3">
                    <label for="epochs" class="form-label">Epochs:</label>
                    <input type="text" class="form-control" id="epochs" value="5">
                </div>
                <div class="mb-3">
                    <label for="batchSize" class="form-label">Batch Size:</label>
                    <input type="text" class="form-control" id="batchSize" value="32">
                </div>
                <div class="mb-3">
                    <label for="validationSplit" class="form-label">Validation Split:</label>
                    <input type="text" class="form-control" id="validationSplit" value="0.2">
                </div>
                <div class="mb-3">
                    <label for="outputDim" class="form-label">Output Dim:</label>
                    <input type="text" class="form-control" id="outputDim" value="128">
                </div>
                <div class="mb-3">
                    <label for="unitRNN" class="form-label">Unit RNN:</label>
                    <input type="text" class="form-control" id="unitRNN" value="64">
                </div>
                <div class="mb-3">
                    <label for="unitDense" class="form-label">Unit Dense:</label>
                    <input type="text" class="form-control" id="unitDense" value="1">
                </div>
                <!-- Add more fields as needed -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="onTrain()">Train</button>
            </div>
        </div>
    </div>
</div>


<script src="/js/model.js"></script>


<script>
    $(document).ready(function () {
        $('#tableModels').DataTable({
            ajax: {
                url: '/admin/models',
                type: 'GET',
                dataSrc: 'data' // Specify the key containing the data array
            },
            columns: [
                            { data: null }, // Index column

                { data: 'name' }, 
            
             
                {
                    data: null,
                    render: function (data, type, row) {
                        // Render CRUD action buttons
                        return `
                        <div class='container'>
                            <button data-bs-toggle="modal" data-bs-target="#addConfirmModal"  class="btn btn-lg btn-outline-secondary" style="margin-bottom:10px"  type="button" onclick="viewCategory('${data.id}')"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
                         
                                                    </div>

                        `;
                    }
                }
            ],
             createdRow: function (row, data, index) {
                // Add index to the first column
                $('td', row).eq(0).html(index + 1);
            },
            processing: true,
            serverSide: true,
            paging: true, // Enable pagination
            pageLength: 10, // Set number of rows per page
            lengthMenu: [10, 25, 50, 100], // Customize length menu options
            language: {
                paginate: {
                    first: 'First',
                    last: 'Last',
                    next: '&rarr;',
                    previous: '&larr;'
                }
            },
            error: function (xhr, error, thrown) {
                console.error('DataTables error:', error, thrown);
            }
        });
    });
        $('#tableOrders tbody').on('click', 'tr', function () {
            // Get the data associated with the clicked row
            var data = table.row(this).data();
            // Display the details (you can use a modal or any other UI component)
            // Example: Show details in console
            console.log(data);
            // You can also display details in a modal or any other UI component
            // Example: Show details in a modal
            // $('#detailModal').modal('show');
        });

        $.fn.dataTable.ext.errMode = 'throw';
</script>