
<table id="tableOrders" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Bill No</th>
            <th>Address Shipping</th>
            <th>Status</th>
            <th>Payment Type</th>
            <th>Creation By</th>
            <th>Creation Time</th>

            <th>Actions</th> <!-- Add a column for CRUD actions -->
        </tr>
    </thead>
    <tbody>
        <!-- Table body content will be dynamically generated -->
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#tableOrders').DataTable({
            ajax: {
                url: '/admin/orders',
                type: 'GET',
                dataSrc: 'data' // Specify the key containing the data array
            },
            columns: [
                            { data: null }, // Index column

                { data: 'bill_no' }, // Bill No column
                { data: 'adress_shipping' }, // Address Shipping column
                { data: 'status' }, // Status column
                { data: 'payment_type' }, // Payment Type column
                { data: 'creation_by' }, // Creation By column
                { data: 'creation_time' }, // Creation Time column
             
                {
                    data: null,
                    render: function (data, type, row) {
                        // Render CRUD action buttons
                        return `
                        <div class='container'>
                            <button data-bs-toggle="modal" data-bs-target="#addConfirmModal"  class="btn btn-lg btn-outline-secondary" style="margin-bottom:10px"  type="button" onclick="viewCategory('${data.id}')"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
                         
                                                    </div>

                        `;
                    }
                }
            ],
             createdRow: function (row, data, index) {
                // Add index to the first column
                $('td', row).eq(0).html(index + 1);
            },
            processing: true,
            serverSide: true,
            paging: true, // Enable pagination
            pageLength: 10, // Set number of rows per page
            lengthMenu: [10, 25, 50, 100], // Customize length menu options
            language: {
                paginate: {
                    first: 'First',
                    last: 'Last',
                    next: '&rarr;',
                    previous: '&larr;'
                }
            },
            error: function (xhr, error, thrown) {
                console.error('DataTables error:', error, thrown);
            }
        });
    });
        $('#tableOrders tbody').on('click', 'tr', function () {
            // Get the data associated with the clicked row
            var data = table.row(this).data();
            // Display the details (you can use a modal or any other UI component)
            // Example: Show details in console
            console.log(data);
            // You can also display details in a modal or any other UI component
            // Example: Show details in a modal
            // $('#detailModal').modal('show');
        });

        $.fn.dataTable.ext.errMode = 'throw';
</script>


<!-- Modal for adding categories -->
<div class="modal fade" id="addConfirmModal" tabindex="-1" aria-labelledby="addConfirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addConfirmModalLabel">Xác Nhận Đơn Hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="onConfirm()">Xác Nhận</button>
            </div>
        </div>
    </div>
</div>