<button  class="btn btn-lg btn-outline-secondary" type="button" onclick="deleteCategory('${data.id}')" style="
    display: flex;
    align-self: baseline;" 
    ><span style="font-size: medium;">Tạo Mới</span></button>


<table id="tableProducts" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Creation Time</th>
            <th>Last Modified Time</th>
                        <th>Actions</th> <!-- Add a column for CRUD actions -->

        </tr>
    </thead>
    <tbody>
        <!-- Table body content will be dynamically generated -->
    </tbody>
</table>

<script>
$(document).ready(function() {
    $('#tableProducts').DataTable( {
        ajax: {
            url: '/admin/products',
            type: 'GET',
            dataSrc: 'data' // Specify the key containing the data array
        },
        columns: [
            { data: 'name' }, // Name column
            { data: 'rating' }, // Rating column
            { data: 'price' }, // Price column
            { data: 'quantity' }, // Quantity column
            { data: 'creation_time' }, // Creation Time column
            { data: 'last_modified_time' }, // Last Modified Time column{
                    data: null,
                    render: function (data, type, row) {
                        // Render CRUD action buttons
                        return `
                        <div class='container'>
                            <button  class="btn btn-lg btn-outline-secondary" style="margin-bottom:10px"  type="button" onclick="viewCategory('${data.id}')"><i class="fa fa-info-circle" aria-hidden="true"></i></i></button>
                            <button class="btn btn-lg btn-outline-secondary" style="margin-bottom:10px"  type="button" onclick="editCategory('${data.id}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></i></button>
                            <button  class="btn btn-lg btn-outline-secondary" type="button" onclick="deleteCategory('${data.id}')"><i class="fa fa-trash"></i></button>
                         
                                                    </div>

                        `;
                    }
                }
        ],
        processing: true,
        serverSide: true,
        paging: true, // Enable pagination
        pageLength: 10, // Set number of rows per page
        lengthMenu: [10, 25, 50, 100], // Customize length menu options
        language: {
            paginate: {
                first: 'First',
                last: 'Last',
                next: '&rarr;',
                previous: '&larr;'
            }
        },
        error: function(xhr, error, thrown) {
            console.error('DataTables error:', error, thrown);
        }
    });


$.fn.dataTable.ext.errMode = 'throw';
</script>
