<footer id="footer">
  <div class="top">
    <a href="/" class="logo">Laptop24h</a>
    <ul class="links">
      <li class="link"><a href="#">Trang Chủ</a></li>
      <li class="link"><a href="#"></a></li>
      <li class="link"><a href="#">Về Chúng Tôi</a></li>
      <li class="link"><a href="#">Liên Hệ</a></li>
    </ul>
    <ul class="social-links">
      <li class="link"><img src="/img/icons/social/ic_facebook.png" alt="Facebook"></li>
      <li class="link"><img src="/img/icons/social/ic_twitter.png" alt="Twitter"></li>
      <li class="link"><img src="/img/icons/social/ic_instagram.png" alt="Instagram"></li>
      <li class="link"><img src="/img/icons/social/ic_youtube.png" alt="Youtube"></li>
    </ul>
  </div>
  <div class="line-div"></div>
  <div class="bottom">
    <ul class="credibility">
      <li class="text">&copy; 2024  UI kit</li>
      <li class="text">Chính Sách Bảo Mật</li>
      <li class="text">Điều Khoản Sử Dụng</li>
    </ul>

    <div class="payment-methods">
      <p class="desc">Phương Thức Thanh Toán</p>
      <img src="/img/icons/payment/ic_visa.png" alt="visa">
      <img src="/img/icons/payment/ic_mastercard.png" alt="mastercard">
      <img src="/img/icons/payment/ic_paypal.png" alt="paypal">
      <img src="/img/icons/payment/ic_visa.png" alt="amazon card">
    </div>
  </div>
</footer>
