<header id="header">
  <div class="nav-top">
    <a href="/" class="logo">Laptop24h</a>
    <div class="search-box">
      <form action="/search" method="get">
        <div class="inputs">
          <input type="submit" id="submit-search" value="">
          <input type="text" placeholder="Bạn đang tìm..." name="search-term">
        </div>
        
        {{!-- <div class="select">
          <select name="category" id="category-to-search">
            <option value="" selected="selected">
              Category >
            </option>
            {{# each categories }}
            <option value={{this.idcategory}}>{{this.categoryname}}</option>
            {{/each}}
          </select>
        </div> --}}
      </form>
    </div>
    <div class="actions-items">
      <div class="action-item">
        <a href="/cart">
          <p class="position-relative">
            <img src="/img/icons/ic_shopping_cart.png" alt="Items in cart">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              <span id="items-in-cart"></span> {{totalQuantity}}
        </a>
        <span class="visually-hidden">unread messages</span>
        </span>
        </p>
      </div>
      {{!-- <div class="action-item">
        <img src="/img/icons/ic_favorite_border.png" alt="Items in wishlist">
        <a href="/wishlist">Wish List</a>
      </div> --}}
      <div class="action-item">

        {{# if user }}
        <div class="user-session">
          <a href="/user/{{user.id}}" class="username" style="margin-bottom: 0;margin-left:10px"><img
              src="/img/icons/ic_account_circle.png" alt="Đăng Nhập">{{{user.username}}}
            <a href="/log-out"> <img src="/img/icons/switch.png" height="18px" width="18px"
                alt="Dropdown all categories">
            </a>
        </div>
        {{ else }}
        <a href="/sign-in">Đăng Nhập</a>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="line-div"></div>
  <div class="nav-bottom">
    <div class="all-categories dropdown">
      <div class="cta">
        <img src="/img/icons/ic_menu.png" alt="Dropdown all categories">
        Danh Mục
      </div>
      <div class="submenu-dropdown">
        {{# each categories }}
        <a href="/filter/{{this.id}}">{{this.name}}</a>
        {{/each}}
      </div>
    </div>

    <div class="vertical-line"></div>

    <ul class="links">
      <li class="link"><a href="#">Giá Tốt</a></li>
      <li class="link"><a href="#">Thương Hiệu Nổi Bật</a></li>
      <li class="link"><a href="#">Bộ Sưu Tập</a></li>
      <li class="link"><a href="#">Bán Chạy</a></li>
    </ul>
    <div class="config-site">
      <div class="vertical-line"></div>
      <div class="help-config config dropdown">
        <div class="cta">
          Trợ Giúp
          <img src="/img/icons/ic_arrow_down.png">
        </div>
        <div class="submenu-dropdown">
          <a href="#">Forum</a>
          <a href="#">FAQ</a>
        </div>
      </div>
      <div class="vertical-line"></div>
      <div class="currency-config config dropdown">
        <div class="cta">
          {{!-- USD
          <img src="/img/icons/ic_arrow_down.png"> --}}
        </div>
        {{!-- <div class="submenu-dropdown"> --}}
          {{!-- <a href="#">BRL</a>
          <a href="#">XBT</a>
        </div> --}}
      </div>
      <div class="vertical-line"></div>
      <div class="language-config config dropdown">
        <div class="cta">
          {{!-- Language
          <img src="/img/icons/ic_arrow_down.png"> --}}
        </div>
        {{!-- <div class="submenu-dropdown">
          <a href="#">Portuguese</a>
          <a href="#">English</a>
        </div> --}}
      </div>
    </div>
  </div>
</header>