<header id="header_admin">


  <div class="line-div"></div>
  <div class="nav-bottom">
    {{!-- <div class="all-categories dropdown">
      <div class="cta">
        <img src="/img/icons/ic_menu.png" alt="Dropdown all categories">
        Danh Mục
      </div>
      <div class="submenu-dropdown">
        {{# each categories }}
        <a href="/filter/{{this.id}}">{{this.name}}</a>
        {{/each}}
      </div>
    </div>

    <div class="vertical-line"></div> --}}

    <ul class="links">
      {{!-- <li class="link"><a href="/admin/home/products">Sản Phẩm</a></li> --}}
      <li class="link"><a href="/admin/home/orders">Đơn Hàng</a></li>

      {{!-- <li class="link"><a href="/admin/home/categories">Danh Mục</a></li> --}}
      <li class="link"><a href="/admin/home/models">Models</a></li>

      {{!-- <li class="link"><a href="#">Bộ Sưu Tập</a></li>
      <li class="link"><a href="#">Bán Chạy</a></li> --}}
    </ul>
    <div class="config-site">
      <div class="vertical-line"></div>
      <div class="help-config config dropdown">
        <div class="action-item">

          {{# if user }}
          <div class="user-session">
            <a href="/user/{{user.id}}" class="username" style="margin-bottom: 0;margin-left:10px"><img
                src="/img/icons/ic_account_circle.png" alt="Đăng Nhập">{{{user.username}}}
              <a href="/log-out"> <img src="/img/icons/switch.png" height="18px" width="18px"
                  alt="Dropdown all categories">
              </a>
          </div>
          {{ else }}
          <a href="/sign-in">Đăng Nhập</a>
          {{/if}}
        </div>
      </div>
      <div class="vertical-line"></div>
      <div class="currency-config config dropdown">
        <div class="cta">
          {{!-- USD
          <img src="/img/icons/ic_arrow_down.png"> --}}
        </div>
        {{!-- <div class="submenu-dropdown"> --}}
          {{!-- <a href="#">BRL</a>
          <a href="#">XBT</a>
        </div> --}}
      </div>
      <div class="vertical-line"></div>
      <div class="language-config config dropdown">
        <div class="cta">
          {{!-- Language
          <img src="/img/icons/ic_arrow_down.png"> --}}
        </div>
        {{!-- <div class="submenu-dropdown">
          <a href="#">Portuguese</a>
          <a href="#">English</a>
        </div> --}}
      </div>
    </div>
  </div>
</header>