<section class="products">
  <aside>
    <div class="categories">
     
      {{# each categories }}
      <a href="/filter/{{this.id}}" class="category">
        <img src="{{this.image}}" class="category-img">
      </a>
      {{/each}}
    </div>



    <div class="promo-code">
      <div class="texts">
        <p class="title"></p>
        <p class="desc"></p>
      </div>
    </div>
  </aside>
  <main>
    <nav>
      <ul class="filters">
        <li class="filter"><a href="/order/rating">Phổ Biến</a></li>
        <li class="filter"><a href="/order/low-price">Giá Thấp Nhất</a></li>
        <li class="filter"><a href="/order/price">Giá Cao Nhẩt</a></li>
      </ul>
      <div class="display">
        <div class="vertical-line"></div>
        <a href="#">
          <img src="/img/icons/ic_view_grid.png" alt="Display Grid">
        </a>
        <div class="vertical-line"></div>
        <a href="#">
          <img src="/img/icons/ic_view_list.png" alt="Display Line">
        </a>
      </div>
    </nav>
    <div class="products-list">
      {{# each products}}
        {{#if this.id}} <!-- Kiểm tra xem sản phẩm có productId không -->

      <form class="product">
        <div class="labels">
          <p class="promotion">Sale</p>
          <div class="actions">
            <a href="/add-to-cart/{{this.id}}" class="add-list">
              <img src="/img/icons/ic_add_list.png" alt="Add to list">
            </a>
            <a href="#" class="add-favorites">
              <img src="/img/icons/ic_favorite_border.png" alt="Add to favorites">
            </a>
          </div>
        </div>
        <img src="{{this.img_url}}" alt="{{this.name}}" class="product-img">
        <p class="name">{{this.name}}</p>
        <div id="rating" data-rating="{{this.rating}}"></div>

        <div class="price">
          <p id="price" class="price-value" data-price="{{this.price}}"></p>

        </div>
<div class="button-container">

        <a href="/add-to-cart/{{this.id}}">
          <img src="/img/icons/ic_shopping_cart.png" alt="Add to cart">
        </a>
        <a href="/product/{{this.id}}">
          <img style="width: 18px;height:18px" src="/img/icons/info.png" alt="Chi Tiết">
        </a>
        </div>
      </form>
        {{/if}}

      {{/each}}
    </div>
  </main>
</section>

<script src="/js/rating.js"></script>
<script src="/js/price.js"></script>