<!-- views/checkout/confirmation.hbs -->

<h1>Xác Nhận Thanh Toán</h1>
<div id="billForm">
  <!-- User Information -->
  <div style="text-align: justify;">
    <h2>Thông tin khách hàng</h2>
    <p id="userName">Tên: {{ user.name }}</p>
    <p id="userPhone">Số điện thoại: {{ user.phone_number }}</p>

    <p id="userEmail">Email: {{ user.email }}</p>
    <p id="userAddress">Địa chỉ giao hàng: <span id="userAddress">{{ user.address }}</span></p>
    <!-- Add a button to update the address -->
    <button onclick="updateAddress()" type="button" class="btn btn-secondary">Cập nhật địa chỉ</button>
    <!-- Add any other user details as needed -->
  </div>

  <!-- Cart Details -->
  <div >
    <h2>Thông tin giỏ hàng</h2>
    <table id="tableConfirm" class="table table-striped table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th>#</th> <!-- Index column -->
          <th style="display:none;">ID</th> <!-- Index column -->

          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th>Hình ảnh</th>

          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td>{{ @index }}</td>
          <td  style="display:none;"id="productId-{{ @index }}">{{ this.product.[0].id }}</td>

          <td id="productName-{{ @index }}">{{ this.product.[0].name }}</td>
          <td id="productPrice-{{ @index }}" data-price="{{ this.product.[0].price }}">{{ this.product.[0].price }}</td>
          <td id="productImage-{{ @index }}"><img src="{{ this.product.[0].img_url }}"
              alt="{{ this.product.[0].name }}"></td>
          <td id="productQuantity-{{ @index }}">{{ this.quantity }}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!-- Total Price -->
  <div style="text-align: justify;">
    <h2>Tổng tiền</h2>
    <p id="price" class="price-value" data-price="{{ this.totalPrice }}">Total: {{ this.totalPrice }}</p>

  </div>

  <!-- Payment Method -->
  <div>
    <h2 >Phương thức thanh toán</h2>
    <!-- Radio buttons for payment methods -->
    <div style="display: inline-block;
    text-align: justify;">
    <input style="text-align: justify;" type="radio" id="creditCard" name="paymentMethod" value="creditCard" checked>
    <label style="text-align: justify;" for="creditCard">Credit Card</label><br>
    <input style="text-align: justify;" type="radio" id="paypal" name="paymentMethod" value="paypal">
    <label style="text-align: justify;" for="paypal">PayPal</label><br>
    <input style="text-align: justify;" type="radio" id="cod" name="paymentMethod" value="cod">
    <label style="text-align: justify;" for="cod">COD</label><br>
    </div>
    <!-- Add more payment options as needed -->
  </div>
</div>
<!-- Confirmation Button -->
<div>
  <button onclick="confirmOrder()" type="button" class="btn btn-secondary">Xác Nhận Thanh Toán</button>
  <button onclick="backConfirmOrder()" type="button" class="btn btn-secondary">Trở về</button>
</div>
<script src="/js/confirm.js"></script>
<script src="/js/price.js"></script>
<script src="/js/cart.js"></script>