<div class="container">
    <h1>{{productDetail.product_name}}</h1>
    <div class="product-info">
        <div class="product-image">
            <img src="{{productDetail.product_image}}" alt="{{productDetail.product_name}}">
        </div>
        <div class="product-details">
            <div id="rating" data-rating="{{productDetail.product_rating}}"></div>

            <p>
            <div class="container-price">

                <div class="price">
                    Giá gốc:<br><del style="margin-right:5%" id="price" class="price-value"
                        data-price="{{productDetail.highestPrice}}">

                        {{productDetail.highestPrice}}
                    </del>

                </div>
                <div class="price" style="color: red !important;">
                    Giá khuyễn mãi: <p id="price" class="price-value" data-price="{{productDetail.lowestPrice}}">
                        <span style="color: red !important;">{{productDetail.lowestPrice}}</span>
                    </p>

                </div>

            </div>


            </p>
            <h2>Thông tin cấu hình:</h2>
            <ul>
                {{#each attributes}}
                <li><strong>{{this.attribute_name}}:</strong> {{this.attribute_value}}</li>
                {{/each}}
            </ul>
            <a class="button-cart" href="/add-to-cart/{{this.id}}">
                Thêm vào giỏ hàng <img src="/img/icons/ic_shopping_cart.png" alt="Add to cart">
            </a>
        </div>
    </div>

    <br>
    <h2>Sản phẩm gợi ý </h2>

    <br>
    <div class="container text-center my-3">
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {{#each similarProducts}}
                    <div class="carousel-item {{#if @first}}active{{/if}}">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{{this.img_url}}">
                                    <p id="rating" data-rating="{{productDetail.product_rating}}"></p>

                                    <p class="sumary-text">{{this.name}}</p>
                                    <ul>
                                        <li><strong>CPU:</strong> {{this.cpu}}</li>
                                        <li><strong>Weight:</strong> {{this.weight}}</li>
                                        <li><strong>Screen:</strong> {{this.storage}}</li>
                                        <li><strong>RAM:</strong> {{this.ram}}</li>
                                        <li class="sumary-text"><strong>Storage:</strong> {{this.storage}}</li>

                                        <li class="sumary-text"><strong>Graphics:</strong> {{this.graphics}}</li>



                                    </ul>
                                    <a href="/product/{{this.id}}">
                                            <img style="width: 18px;height:18px" src="/img/icons/info.png" alt="Chi Tiết">
                                            </a>
                                    {{!-- cpu: "Core i5",
                                    discount_price: "16990000",
                                    graphics: "NVIDIA GeForce MX550 2GB",
                                    id: "351095b4-d77d-11ee-8fa9-0242ac110002",
                                    img_url:
                                    "https://images.fpt.shop/unsafe/fit-in/240x215/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/9/30/638316654475663726_acer-aspire-5-a515-58p-351n-i3-1305u-dd.jpg",
                                    name: "Acer Aspire 5 A515-58P-56RP i5 1335U (NX.KHJSV.008)",
                                    promotion_price: "14990000",
                                    ram: "32 GB",
                                    rating: "2",
                                    screen: "16 inch",
                                    storage: "SSD 128 GB",
                                    weight: "1.7 kg", --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                    data-bs-slide="prev">
                    <span style="background-color: black;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                    data-bs-slide="next">
                    <span style="background-color: black;" class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>



</div>
<script src="/js/rating.js"></script>
<script src="/js/price.js"></script>
<script src="js/similar-slider.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let items = document.querySelectorAll('.carousel .carousel-item');
        {{!-- const minPerSlide = {{ similarProducts.length }}; --}}
        const minPerSlide = 4;

    items.forEach((el) => {
        let next = el.nextElementSibling;
        for (let i = 1; i < minPerSlide; i++) {
            if (!next) {
                // Wrap carousel by using first child
                next = items[0];
            }
            let cloneChild = next.cloneNode(true);
            el.appendChild(cloneChild.children[0]);
            next = next.nextElementSibling;
        }
    });
    });
</script>