<header>
  <h1>Xin chào, {{{ user.name }}}</h1>
  
</header>
<main>
  <section class="customer"> 
 <section id="order-section">
    <h2 style="text-align: justify;"></h2>Lịch sử đơn hàng</h2>


<br>
<br>
    <table  class="table table-striped table-bordered table-condensed table-hover" >
      <thead>
        <tr>
          <th>#</th>
          <th scope="col">BillNo</th>
          <th>Trạng Thái</th>
          <th>Hình Thức Thanh Toán</th>
          <th>Chức Năng</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
                                  <td>{{ @index }}</td> <!-- Index number -->

          {{!-- <td scope="row"></td> --}}
          <td>{{ this.bill_no }}</td>
          <td>{{ this.status }}</td>
          <td>{{ this.payment_type }}</td>
          <td>
            <button onclick="viewOrderDetails('{{ this.orderId }}')" class="btn btn-secondary">Chi Tiết</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
  <section id="user-details" >
    <h2>Thông tin khách hàng</h2>
    <p style="text-align: justify;"><strong >Tên:</strong> {{{ user.name }}}</p>
        <p style="text-align: justify;"><strong>Số điện thoại:</strong> {{{ user.phone_number }}}</p>

    <p style="text-align: justify;"><strong>Email:</strong> {{{ user.email }}}</p>
    <p style="text-align: justify;"><strong>Địa chỉ:</strong> {{{ user.address }}}</p>
    <button onclick="editUserDetails()" type="button"
                            class="btn btn-secondary">Sửa</button>
  </section>
  </section>
 
</main>
