<section class="sign sign-in">
  <form action="/sign-in" method="post" style="
    display: grid;
    justify-content: center;
" >
    <div class="input-sign">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email">
    </div>
    <div class="input-sign">
      <label for="password">Mật Khẩu:</label>
      <input type="password" id="password" name="password">
    </div>

    {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}" class="input-sign"> --}}

    <input type="submit" value="Đăng Nhập" class="btn-submit">
  </form>

  <div class="texts" style="
    display: flex;
    justify-content: center;
">
    <p>Nếu bạn không có tài khoản. <a href="/sign-up">Đăng Ký</a></p>
  </div>
</section>
