<section class="sign sign-up">
  <form action="/sign-up" method="post" style="
    display: grid;
    justify-content: center;
">
    <div class="input-sign">
      <label for="username">Tên:</label>
      <input type="text" id="username" name="username">
    </div>
    <div class="input-sign">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
    </div>
     <div class="input-sign">
      <label for="phone">Số Điện Thoại:</label>
      <input type="text" id="phone" name="phone">
    </div>
         <div class="input-sign">
      <label for="address">Địa Chỉ:</label>
      <input type="text" id="address" name="address">
    </div>
    <div class="input-sign">
      <label for="password">Mật Khẩu:</label>
      <input type="password" id="password" name="password">
    </div>
    {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}" class="input-sign"> --}}
    <input type="submit" value="Đăng Nhập" class="btn-submit">
  </form>
  <div class="texts"style="
    display: flex;
    justify-content: center;
">
    <p>Bạn đã có tài khoản. <a href="/sign-in">Đăng Nhập</a></p>
  </div>
</section>
