<h1>Giỏ hàng</h1>
<div>
    <p>Tổng sản phẩm: {{ cartQuantity }}</p>
    <table id="cart-table" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên sản phẩm </th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Hình ảnh</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                        <td>{{ @index }}</td> <!-- Index number -->

            <td>{{ this.product.[0].name }}</td>
            <td>
                <p id="price" class="price-value" data-price="{{ this.product.[0].price }}">{{ this.product.[0].price }}</p>
            </td>
            <td>
                <input  type="text" id="quantity-{{ this.product.[0].id }}" value="{{ this.quantity }}" min="1">
            </td>
            <td><img src="{{ this.product.[0].img_url }}" alt="{{ this.product.[0].name }}"></td>
            <td>
                <div class="d-flex justify-content-between">
                   <div class="d-flex justify-content-between">
                    <button onclick="increaseQuantity('{{ this.product.[0].id }}')" type="button"
                        class="btn btn-secondary" style="margin-right: 10%;">
                        +

                        </button>


                    <button onclick="decreaseQuantity('{{ this.product.[0].id }}')" type="button"
                        class="btn btn-secondary">       -
</button>
                </div>
            </td>
        </tr>
            {{/each}}
        </tbody>
    </table>
    <div>
        <p>Tổng tiền: <span onchange="updateTotalPrice()" id="total-price"
                class="price-value" data-price="{{this.totalPrice}}">{{this.totalPrice}}</span></p>
        <button onclick="proceedToCheckout('{{ userId}}')" type="button" class="btn btn-secondary">Thanh toán</button>
    </div>
</div>


<script src="/js/price.js"></script>
<script src="/js/cart.js"></script>